//
// _nft-landing.scss
//
.form-select {
    padding: 0 !important;
}
.form-select:focus {
    outline: none;
    box-shadow: none !important;
}

.bookmark-icon {
    .btn {
        color: var(--#{$prefix}secondary-color);
        background-color: var(--#{$prefix}light) !important;
        box-shadow: $box-shadow;
        font-size: $font-size-base;
        &:hover,
        &.active {
            border-color: transparent;
            color: $danger;
        }
    }
}

.explore-box {
    border-radius: 9px;
    overflow: hidden;
    .explore-img {
        height: 280px;
        object-fit: cover;
    }
    .explore-place-bid-img {
        position: relative;
        overflow: hidden;
        z-index: 0;
        .bg-overlay {
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            background-color: rgba($dark, 0.4);
            opacity: 0;
            transition: all 0.5s ease;
        }
    
        .place-bid-btn {
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
    
            .btn {
                opacity: 0;
                bottom: -25px;
                transition: 0.5s ease;
            }
        }
    }
    
    &:hover {
        .explore-place-bid-img {
            .place-bid-btn {
                .btn {
                    opacity: 1;
                    bottom: 0;
                }
            }
    
            .bg-overlay {
                opacity: 1;
            }
        }
    }
    .discount-time {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba($white, 0.4);
        backdrop-filter: blur(5px);
        padding: 8px;
    }
}

//
.ffs-banner {
    background-image: url('../../images/banners/img_home_banner1.png');
    background-size: cover;
    background-position: bottom;
    padding: 120px 0 150px;
    .bg-overlay {
        background-color: #141413;
        opacity: 0;
    }
}

@media (max-width: 767.98px) { 
    .ffs-container {
        padding: 60px 0;
    }

}

.partners-row-web {
    display: flex;
}

.partners-row-mobile {
    display: none;
}


.mobile-navbar {
    display: none;
}

.web-navbar {
    display: block;
}

@media (max-width: 767.98px) { 
    .mobile-navbar {
        display: block;
    }

    .web-navbar {
        display: none;
    }

    .mobile-nav-button {
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        justify-content: end;
    }
}


@media (max-width: 767.98px) { 
    .partners-row-web {
        display: none;
    }
    
    .partners-row-mobile {
        display: block;
    }

}

#explorecard-list {
    .list-element {
        display: none;

        &:nth-child(-n+10) {
            display: block;
        }
    }
}

.reg-banner {
    /* background-image: url('../../images/banners/img_register_banner2.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 60px;
    display: flex;
    align-items: end;
    
}

.exhibitor-banner {
   /* background-image: url('../../images/banners/img_exhibitor_banner.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 60px;
    display: flex;
    align-items: end;
}

.partner-banner {
   /* background-image: url('../../images/banners/img_parter_banner.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 60px;
    display: flex;
    align-items: end;
}

.sponsors-banner {
   /* background-image: url('../../images/banners/img_sponsors_banner.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 60px;
    display: flex;
    align-items: end;
}

.contact-us-banner {
  /*  background-image: url('../../images/banners/img_contact_us_baner.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 60px;
    display: flex;
    align-items: end;
}

.speakers-banner {
   /* background-image: url('../../images/banners/img_banner_speakers.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 0;
    display: flex;
    align-items: end;
}

.top-padding {
    padding: 140px 30px 0;
}

.agenda-banner {
   /* background-image: url('../../images/banners/img_agenda_banner.png'); */
    background-size: cover;
    background-position: bottom;
    padding: 140px 30px 0px;
    display: flex;
    align-items: end;
}

.agenda-list-body {
    padding-top: 70px;
}

.speakers-list-body {
    padding-top: 87px;
}

.mid-padding-top {
    padding-top: 60px;
}

.form-box {
    border: 1px solid #E1E7EC;
}

.form-label {
    color: #b8bdc0;
}

.search-box {
    border-bottom: 1px solid #E1E7EC;
}

.form-label:after {
    content:"*";
    color:red;
  }

/*
.btn-banner-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}

@media (max-width: 767.98px) { 
    .btn-banner-area {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-self: stretch;
    }
}
*/

.placeholder-insight-space {
    height: 350px;
}

@media (max-width: 767.98px) { 
    .ffs-banner .caption {
        font-size: 16px;
    }

    .insight-banner {
        padding-top: 140px;
    }
}


.home-banner-bg {
    background-image: url('../../images/banners/home_top_banner3.png');
   /* background-size: contain; */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 17%;
}

@media (max-width: 767.98px) { 
    .home-banner-bg {
        background-size: 100% 30%;
    }
}

.title-top-spacing {
    margin-top: 0px;
}

.title-big-top-spacing {
    margin-top: 40px;
}

@media (max-width: 767.98px) { 
    .title-top-spacing {
        margin-top: 25px;
    }

    .title-big-top-spacing {
        margin-top: 25px;
    }
}

.title-small-top-spacing-news {
    margin-top: 20px;
}

.insight-big-mb {
    margin-bottom: 0;
}

.insight-small-mb {
    margin-bottom: 20px;
    color: #1b1b1b;
}

@media (max-width: 767.98px) { 
    .insight-big-mb {
        margin-bottom: 60px;
    }

    .insight-small-mb {
        margin-bottom: 65px;
    }
}

@media (max-width: 767.98px) { 
    .placeholder-insight-space {
        height: 0px;
    }
}

.small-tags-insight {
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

@media (max-width: 767.98px) { 
    .big-tags-insight {
        width: 400px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
    
    .small-tags-insight {
        width: 120px;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }
}


.caption-mobile {
    display: none;
}

.caption-web {
    display: block;
}

@media (max-width: 767.98px) { 
    .caption-mobile {
        display: block;
        font-size: 13px;
    }

    .caption-web {
        display: none;
    }
}

@media (max-width: 767.98px) { 
    .ffs-banner .title {
        font-size: 33px;
    }
}

.btn-banner {
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 14px;
}

.btn-banner-secondary {
    color: #FFB615;
}

.btn-banner-secondary:hover {
    color: #FFFFFF;
}

@media (max-width: 767.98px) { 
    .btn-banner {
        width: 150px;
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 13px;
    }
}

.navbar li.nav-item {
    border-bottom: 1px solid transparent;
}

.navbar li.nav-item:hover {
    border-bottom: 1px solid #33CC99;
}

.nav-item-mobile {
    border-bottom: 1px solid transparent;
}

.navbar li.mobile-navbar li.nav-item:hover {
    border-bottom: 1px solid transparent;
}

.what-is-container {
    background-image: url('../../images/home/ffs_bg_pattern1.png');
    background-size: cover;
    background-position: right bottom;
    padding-bottom: 120px;
    
}

.pb-custom { 
    padding-bottom: 120px;
}

.numbers-section {
    background-image: url('../../images/home/ffs_bg_pattern1.png');
    background-size: contain;
    background-position: left bottom;
    padding-bottom: 120px;
}

.btn-home-web {
    display: block;
}

.btn-home-mobile {
    display:none;
}

@media (max-width: 767.98px) { 
    .btn-home-web {
        display: none;
    }

    .btn-home-mobile {
        display: block;
    }

}

.parallax {
    background-attachment: fixed;
}

@media (max-width: 767.98px) { 
    .parallax {
      background-attachment: scroll;
    }
  }

.partners-section {
    padding: 120px 0;
}

.partners-img-style {
    height: 40px;
}

@media (max-width: 767.98px) { 
    .partners-img-style {
        height: 35px;
    }
  }

  @media (max-width: 767.98px) { 
    .partners-img-area {
        margin-top: 10px
    }
  }

  
.what-left-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #33CC99;
    border-top-left-radius: 15px;
}

.what-is-mobile-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #33CC99;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.what-is-mobile-body {
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.what-right-body {
    border: 1px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.what-is-web-body {
    display: flex;
}

.what-left-title-mb {
    display: none;
}

.mobile-top-body {
    display: none;
}


@media (max-width: 767.98px) { 
    .what-left-body {
        display: none;
    }

    .what-left-title-mb {
        display: block;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .what-is-web-body {
        display: none;
    }

    .mobile-top-body {
        display: flex;
    }
    
}

.speakers-card {
    width: 260px;
    height: 300px;
    position: relative;
   /* background-repeat: no-repeat;
    background-image: url('../../images/home/speakers_bg.png');
    background-size: contain;
    background-position: center top;
    padding: 1px; */
}

.avatar-speaker {
    width: 220px;
    height: 180px;
    object-fit: contain;
    object-position: left top;
}

.avatar-speaker-list {
    width: 245px;
    height: 230px;
    object-fit: contain;
    object-position: left top;
}

.card-possibilities {
    height: 380px;
    border-color: #33CC99;
}

@media (max-width: 767.98px) { 
    .card-possibilities {
        height: 420px;
    }
    
}

.card-possibilities:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #141413;
}

.mobile-featured-speakers {
    display: none;
}

.speakers-mobile {
    display: none;
}

.speakers-web {
    display: flex;
}

@media (max-width: 767.98px) { 

    .speakers-web {
        display: none;
    }

    .speakers-mobile {
        display: block;
    }
    
}

.summit-padding {
    padding-left: 50px;
    padding-right: 50px;
}

@media (max-width: 767.98px) { 
    .summit-padding {
        padding-left: 0;
        padding-right: 0;
    }

}

@media (max-width: 767.98px) { 
    .web-featured-speakers {
        display: none;
    }

    .mobile-featured-speakers {
        display: flex;
    }
    
    .speakers-card {
        width: 100%;
        height: auto;
        background-size: cover;
    }

    .avatar-speaker {
        width: 190px;
        height: auto;
        object-fit: contain;
        object-position: center top;
    }

    .avatar-speaker-list {
        width: 100%;
        height: auto;
        object-fit: contain;
        object-position: center top;
    }

}

.numbers-item {
    margin-bottom: 30px;
}

@media (max-width: 767.98px) { 
    .numbers-item {
        margin-bottom: 15px;
    }
}

.partners-row {
    max-width: 800px;
}

.summit-section {
    padding-bottom: 120px;
    padding-top: 120px;
}


.vl {
    height: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid gray;
}

@media (max-width: 767.98px) { 

    .vl {
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

.numbers-area {
    max-width: 700px;
}

@media (max-width: 767.98px) { 
    .numbers-area {
        width: 100%;
    }
}

.partner-card {
    height: 150px;
}

.partner-card img {
    width: 100px;
    object-fit: contain;
}

.btn-partner {
    width: 220px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 13px;
}

/*.sponsor-right {
    //padding-left: 3rem;
    //padding-right: 3rem;
}*/

@media (max-width: 767.98px) { 

    .sponsor-left {
        margin-bottom: 25px; 
    }

    .sponsor-right {
        padding-left: 0;
        padding-right: 0;
    }
}

.card-latest {
    height: 380px;
    border-color: #33CC99;
}


@media (max-width: 767.98px) { 
    .card-latest {
        height: 360px;
    }
    
}

.card-latest:hover {
    background-color: #FFFFFF;
    color: #141413;
    border-color: #FFFFFF;
}



.why-choose {
    height: 420px;
    border-color: #33CC99;
}


@media (max-width: 767.98px) { 
    .why-choose {
        height: 440px;
    }
    
}

.why-choose:hover {
    background-color: #FFFFFF;
    color: #141413;
    border-color: #FFFFFF;
}

.footer-style {
    padding-top: 120px;
    color: #9ba7b3;
}

@media (max-width: 767.98px) { 
    .footer-style {
        padding-top: 40px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.footer-logo {
    height: 70px;
}

@media (max-width: 767.98px) { 
    .footer-logo {
        height: 60px;
    }
}

.faq-body {
    height: 880px;
}

@media (max-width: 767.98px) { 
    .faq-body {
        height: 600px;
    }
    
}

.faq-full-body {
    height: 1250px;
}

.join-full-body {
    height: 1000px;
}

.faq-page-body {
    height: 1150px;
}

.mobile-cta-home {
    display: none;
}

.mobile-inner-cta {
    height: 320px;
}

@media (max-width: 767.98px) { 
    .mobile-cta-home {
        display: block;
    }

    .faq-full-body {
        height: 1000px;
    }

    .join-full-body {
        height: 800px;
    }

    .faq-page-body {
        height: 950px;
    }
}

@media (max-width: 767.98px) { 
    .mobile-copyright-area {
       margin-top: 20px;
    }
    
}

.mobile-inner-cta {
    background-color: #FFFFFF;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

.cta-form {
    border-color: #141413 !important;
    border-width: 1px !important;
}

.web-cta {
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
    margin-bottom: 30px;
}

.web-cta-home {
    position: absolute;
    bottom: 435px;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
}


.web-cta-insights {
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
}

.news-bottom-margin {
    margin-bottom: 50px;
}

/*
@media (max-width: 767.98px) { 
    .news-bottom-margin {
        margin-bottom: 50px;
    }
}
*/

/*
.web-cta-insights {
    position: absolute;
    bottom: 26%;
    left: 0;
    right: 0;
    z-index: 1000;
    max-width: 900px;
}
*/
.row-footer {
    justify-content: end;

}

@media (max-width: 767.98px) { 
    .row-footer {
        justify-content: start;
    }
}

@media (max-width: 767.98px) { 
    .web-cta {
        display: none;
    }

    .web-cta-home  {
        display: none;
    }

    .web-cta-insights {
        display: none;
    }
    
}

.profile-modal {
    width: 35% !important;
}

@media (max-width: 767.98px) { 
    .profile-modal {
        width: 80% !important;
    }

}

.form-container {
    background-image: url('../../images/form_bg_pattern.png');
    background-size: cover;
    background-position: left top;
    background-repeat: repeat-y;
    padding-bottom: 120px;
}

.form-container-sponsor {
    background-image: url('../../images/form_bg_pattern.png');
    background-size: cover;
    background-position: center top;
    background-repeat: repeat-y;
    padding-bottom: 120px;
}


.nav-tab-custom {
    border-bottom: 1px solid #33CC99;
}

.fixed-sidenav { /* Full-height: remove this if you want "auto" height */
    width: 40%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}

.canvas-style {
    background-color: #0a0a0a;
    width: 38% !important;
    margin-top: 75px;
    margin-right: 60px;
}

.canvas-body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.canvas-body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

@media (max-width: 767.98px) { 
    .canvas-style {
        width: 100% !important;
        margin-right: 0px;
        margin-top: 70px;
    }

}

.speakers-pop-up-body {
    padding: 1.5rem;
}

@media (max-width: 767.98px) { 
    .speakers-pop-up-body {
        padding-top: 0px;
    }
}

.bio-style {
    white-space: pre-wrap;
}

.agenda-sticky-top {
    top: 70px;
    background-color: '#141413';
    
}



@media (max-width: 767.98px) { 
    .agenda-sticky-top {
        top: 40px;
        background-color: '#141413';
        
    }
}

.speakers-sticky-side {
    top: 90px;
    margin-top: 34px;
}

@media (max-width: 767.98px) { 
    .speakers-sticky-side {
        margin-top: 50px;
    }

}

@media (min-width: 1025px) { 
    .agenda-sticky-side {
        top: 80px;
    }

}



.agenda-sticky-side {
    top: 70px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

@media (max-width: 767.98px) { 
    .agenda-sticky-side {
        padding-top: 20px;
    }

}

.list-row {
    border-left: 1px solid #FFFFFF;
}

.list-row:hover {
    border-left: 1px solid #33CC99;
}

.web-one-summit {
    display: flex;
}


.mobile-one-summit {
    display: none;
}

@media (max-width: 767.98px) { 
    .mobile-one-summit {
        display: flex;
    }

    .web-one-summit {
        display: none;
    }
}

.one-summit-section {
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 767.98px) { 
    .one-summit-section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.speakers-web-row {
    display: flex;
}

.speakers-mobile-row {
    display: none;
}

@media (max-width: 767.98px) { 
    .speakers-web-row {
        display: none;
    }

    .speakers-mobile-row {
        display: flex;
    }
}

.speakers-agenda-bottom-web {
    display: flex;
}

.speakers-agenda-bottom-mobile {
    display: none;
}

@media (max-width: 767.98px) { 
    .speakers-agenda-bottom-web {
        display: none;
    }

    .speakers-agenda-bottom-mobile {
        display: block;
    }
}

.swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #33CC99;
}

.swiper-scrollbar-drag {
    background: #33CC99 !important;

}

.link-style {
    color: #303030;
}

.link-style:hover {
    color: #33CC99;
}

.top-profile-close-mobile {
    display: none;
}

@media (max-width: 767.98px) { 
    .top-profile-close-mobile {
        display: flex;
        justify-content: end;
    }
}



.bottom-padding {
    padding-bottom: 80px;
}

.mid-bottom-padding {
    padding-bottom: 80px;
}

.what-we-do-card {
    width: 95%;
}

.summit-img {
    height: 180px;
    object-fit: cover;
}

/*
.swiper-button-next {
    --swiper-navigation-color: #33CC99;
    background-color: #33CC99;
    border: 1px solid #33CC99;
  }
  
  
.swiper-button-prev {
    background-color: #33CC99;
    border: 1px solid #33CC99;
    border-radius: 50%;
    color: white;
    height: 50px !important;
    width: 50px !important;
  }
  */

  .swiper-button-prev {
    background-image: url("../../images/icons/ic_slide_left_arrow.png") !important;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: #33CC99;
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    
    }
    
    /*
    .swiper-button-next {
    background-image: url("../../images/icons/ic_slide_right_arrow.png") !important;
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    background-color: #33CC99;
    border-radius: 50%;
    height: 40px !important;
    width: 40px !important;
    }
    
    .swiper-button-next::after {
    display: none;
    }

    */
    
    .swiper-button-prev::after {
    display: none;
    }

  .swiper-button-custom {
    background-color: #33CC99;
    border: 1px solid #33CC99;
    border-radius: 50%;
    color: white;
    height: 45px;
    width: 45px;
  }

  .slide-button-left-area {
    position: absolute;
    width: 70px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    margin-left: -25px;
  }

 .slide-button-right-area {
    position: absolute;
    width: 70px;
    height: 100px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    display: flex;
    margin-right: -40px;
 }

.phone-input-style {
    width: 100% !important;
}


.inner-contact-body {
    padding: 3rem;
    align-items: center;
}

.outer-contact-body {

    padding: 3rem;
}


@media (max-width: 767.98px) { 
    
    .inner-contact-body {
        padding: 0px;
    }

    .outer-contact-body {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    
}

@media (max-width: 767.98px) { 

    .mobile-bottom-padding {
        padding-bottom: 30px;
    }

}

/*  border-bottom: 1px solid #FFB615;  */

.insight-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
}

.insight-title-link {
    color: #FFFFFF;
}

.insight-title-link:hover {
    color: #FFB615;
}

@media (max-width: 767.98px) { 
    .insight-title-link {
        color: #FFFFFF;
       
    }

}

.insight-img-right {
    height: 300px;
    object-fit: cover;
}

@media (max-width: 767.98px) {  
    .insight-img-right {
        margin-bottom: 40px;
    }
}

.white-cover {
    height: 60px;
    bottom: 20%;
    left: 0; 
    right: 0;
    z-index: 10;
}

@media (max-width: 767.98px) { 
    .white-cover {
        height: 125px;
        bottom: 18%;
    }

}


.side-spacing {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width: 767.98px) { 
    .side-spacing {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}

@media (max-width: 767.98px) { 

    .mobile-section {
        padding-top: 0px;
    }
}

.side-spacing-pagination {
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (max-width: 767.98px) { 

    .side-spacing-pagination {
        padding-left: 0px;
        padding-right: 0px;
    }
}

#gdpr_text {
    display: none !important;
}

.ctct-gdpr-text {
    display: none;
}

#email_address_label_1 {
    display: none;
}

.ctct-form-defaults  {
    border: 1px solid #141413;
    border-radius: 50px !important;
    display: flex;
    justify-content: space-between;
    padding: 10px !important;
}

@media (max-width: 767.98px) { 
    .ctct-form-defaults  {
        border: none;
        border-radius: 0px !important;
        display: block;
        padding: 0px !important;
    }
}

.ctct-form-footer {
    display: none;
}

.g-recaptcha  {
    display: none;
}

.ctct-form-field {
    width: 70%;
    display: flex;
    align-items: center;
}

@media (max-width: 767.98px) { 
    .ctct-form-field {
        width: 100%;
        border: 1px solid #141413;
        border-radius: 50px !important;
        display: flex;
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 2px 5px !important;
        margin: 0 0 1rem !important;
    }
}

.ctct-form-element {
    border: 0;
    background-color: transparent;
    font-size: 15px;
    color: #303030;
    font-family: 'Montserrat', "Georgia", "Times New Roman", "Times", serif; 
    margin-left: 10px;
    width: 100%;
}

@media (max-width: 767.98px) { 
    .ctct-form-element {
        width: 90% !important;
        border: none !important;
        border-radius: 50px;
        background-color: transparent;
        font-size: 15px;
        height: 35px !important;
        box-shadow: none !important;
        color: #303030;
        margin-left: 0px;
        font-family: 'Montserrat', "Georgia", "Times New Roman", "Times", serif; 
    }    

}

.ctct-form-button {
    background-color: #33CC99;
    font-size: 15px;
    font-family: "Georgia", "Times New Roman", "Times", serif; 
    color: #FFFFFF;
    border: 1px solid #33CC99;
    border-radius: 50px;
    box-shadow: none;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 767.98px) { 
    .ctct-form-button {
        background-color: #33CC99;
        font-size: 14px !important;
        font-family: "Georgia", "Times New Roman", "Times", serif; 
        color: #FFFFFF !important;
        border: 1px solid #33CC99 !important;
        border-radius: 50px !important;
        box-shadow: none !important;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        width: 40% !important;
        margin: 0 auto !important;
    }
}

.workshops-card {
    background-color: #FFFFFF;
}

.workshops-card:hover {
    background-color:#d7dcdb;
}

.card-active {
    background-color: #91ffda !important;
}

.card-active:hover {
    background-color:#7bdebd !important;
}


.custom-check {
    float: none !important;
    margin-left: 0 !important;
}


.form-check-input {
    background-color: #FFFFFF;
}


.cta-email::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-align: center;
    padding-left: 120px;
}

.cta-email:-ms-input-placeholder {
             
    /* Internet Explorer 10-11 */
    text-align: center;
    padding-left: 120px;
}

.cta-email-mobile::placeholder {
             
    /* Firefox, Chrome, Opera */
    text-align: center;
}

.cta-email-mobile:-ms-input-placeholder {
             
    /* Internet Explorer 10-11 */
    text-align: center;
}


.features-section {
    padding: 60px 0 0;
    position: relative;
}

.home-section-main {
    padding: 100px 0 0;
}


@media (max-width: 767.98px) { 
    .mob-width-vid {
        padding-left: 0;
        padding-right: 0;
    }

    .home-title-mobile {
        text-align: center;
    }
}

.content-p {
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.7rem;

}

.content-h1 {
    color: #33CC99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-h2 {
    color: #33CC99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-h3 {
    color: #33CC99;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-h4 {
    color: #33CC99;
    margin-bottom: 15px;
    margin-top: 30px;
}

.content-h6 {
    color: #FFB615;
    margin-bottom: 10px;
    margin-top: 20px;
}

.white-divider {
    border-top: 1px solid white;
}

.blog-inner-padding {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
}


.blog-inner-padding-all {
    padding: 3rem;
}

@media (max-width: 767.98px) { 
    .blog-inner-padding {
        padding-right: 0.2rem !important;
        padding-left: 0.2rem !important;
    }
    
    .blog-inner-padding-all {
        padding: 0.2rem;
    }

    .blog-outer-padding {
        padding-top: 90px;
    }
}

/*
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: green!important;
  }
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 255, 0, 0.25)
  }
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
  }
.custom-control-input:active ~ .custom-control-label::before {
    background-color: #C8FFC8; 
  }
*/